@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Manrope', sans-serif;
}

:root {
  --background-color: #f4f4f4;
  --duration: 500ms;
}

html.dark {
  --background-color: #2e2e2e;
}

body {
  height: 100vh;
  padding-top: 81px !important;
  background-color: var(--background-color);
  transition-property: color, background-color;
  transition-duration: var(--duration);
}

@media screen and (min-width: 768px) {
  body {
    padding-top: 106px !important;
  }
}

@media screen and (min-width: 1280px) {
  body {
    padding-top: 113px !important;
  }
}

@layer components {
  .customScrollPosition {
    @apply top-[10px] right-[5px] !important;
  }
}
